* {
    box-sizing: border-box;
}

body {
    background-color: #F4D8CD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    display: flex;
}

header nav {
    display: flex;
    padding: 10px;
    position: fixed;
    background-color: #EDB183;
    width: 99%;
}

nav img {
    width: 80px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-family: "Space Mono", monospace;
    text-align: center;
    margin-top: 40px;
    padding-left: 50px;
}

nav li {
    font-weight: 300;
    display: flex;
    padding: 5px;
}

nav li:hover {
    transition: 0.5s ease;
    transform: scale(1.05);
}

nav a {
    text-decoration: none;
}

nav i {
    width: 25px;
    color: #F15152;
}

nav ul a:hover {
    background-color: #F4D8CD;
}

nav a:visited {
    color: #1E555C;
}

.divisor {
    border-top: 2px solid #0D0630;
    height: 2px;
    padding: 0;
    margin: 20px 200px 0 200px;
}

.resumen {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 110px;
}

.resumen img {
    width: 300px;
}

.resumen h2 {
    text-align: center;
}

.resumenTabla{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.resumenTabla table {
    display: flex;
    border-spacing: 5px;    
}

.resumenTabla th, td {
    padding: 10px 20px;
    background-color: rgb(13, 6, 48, .4);  
}

section h2,
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    word-spacing: -0.5px;
}

section img {
    width: 200px;
}

.buscar {
    text-align: center;
}

#principal {
    padding-top: 105px;
}

#principal a {
    background-color: #EDB183;
    text-decoration: none;
    box-shadow: 1px 2px grey;
}

#principal a:visited {
    color: #1E555C;
}

h1 {
    font-size: 2.5rem;
    color: #F15152;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #1E555C;
    text-align: center;
    margin: 10px 490px 10px 490px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-radius: 1%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #F4D8CD;
    padding-top: 105px;
}

.form div {
    margin: 0px 40px 10px 40px;
    font-size: larger;
}

.form input {
    border: 1px solid #0D0630;
    border-radius: 2px;
}

h2 {
    font-weight: lighter;
    color: #F15152;
}

#principal {
    text-align: center;
    background-color: #F4D8CD;
}

.ultimas h2 {
    text-align: center;
}

.ultimas h3 {
    text-align: center;
    color: #0D0630;
}

.publicaciones {
    margin: 0 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.publicaciones img {
    width: 300px;
}

#anteriorSiguiente {
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;    
}

#anteriorSiguiente button {
    background-color: #EDB183;
    border: 1px solid #0D0630;
    border-radius: 2px;
    margin: 0 5px 0 5px; 
}

#anteriorSiguiente a{
    font-size: medium;    
    text-decoration: none;    
    color: #1E555C;
}

.leido h2 {
    text-align: center;
}

.leidas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}


.leidas img {
    width: 200px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #EDB183;

    margin-top: auto;
}

footer nav {
    display: flex;
}

footer nav ul {
    display: flex;
    list-style: none;
    font-family: "Space Mono", monospace;
    text-align: center;
}

footer nav ul a {
    padding: 5px;
}