* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: bisque;
    margin-top: -1%;
    margin-left: -1%;
}

header img {
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 30%;
    width: 100px ;
}

nav{
    margin-left: 40%;
    margin-top: -85px;
    
}

section img{
    width: 200px;
}

h1 {
    font-size: 2.5rem;    
    color: brown;
    text-align: center;    
}

form{
    background-color: cornflowerblue; 
    text-align: center;    
    margin: 10px 490px 10px 490px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 2px;      
    border-radius: 5%; 
}

form div{
    margin: 0px 40px 10px 40px;
    font-size: larger;   
       
}

h2{
    font-weight: lighter;
}

#ultimas{
    margin: 200px;
}

#publi2{
    text-align: center;
    margin-top: -200px;
}

#publi3{
    text-align: right;
    margin-top: -200px;
}